---
---
<!-- get modelType -->
{% include fragment-modelType.html id='ch-etoc-servicerequest' %}

{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='StructureDefinition' id='ch-etoc-servicerequest' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{modelType}}: ChEtocServiceRequest - Change History</h2>
  <p>Changes in the ch-etoc-servicerequest {{modelType | downcase}}.</p>

  {%include StructureDefinition-ch-etoc-servicerequest-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
