---
---
<!-- get modelType -->
{% include fragment-modelType.html id='ch-etoc-device' %}

{% include fragment-pagebegin.html %}
<div style="counter-reset: section 4" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='StructureDefinition' id='ch-etoc-device' active='definition' %}

<a name="root"> </a>
<h2 id="root">{{modelType}}: ChEtocDevice - Detailed Descriptions</h2>

<p>Definitions for the ch-etoc-device {{modelType | downcase}}.</p>

  <!-- insert intro if present -->
  {% include fragment-intro.html type='StructureDefinition' id='ch-etoc-device' %}

  {%include StructureDefinition-ch-etoc-device-dict.xhtml%}

  <!-- insert notes if present -->
  {% include fragment-notes.html type='StructureDefinition' id='ch-etoc-device' %}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
